.elementor-kit-25791{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-80135eb:#196675;--e-global-color-c045ce8:#0A323C;--e-global-color-844d623:#0E5162;--e-global-color-101bdfd:#0E5162;--e-global-color-1a9f0f8:#0A323C;--e-global-color-2e097bd:#DCF8FF;--e-global-color-38348c3:#007BC2;--e-global-typography-primary-font-family:"Josefin Sans";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-global-typography-6ac0905-font-family:"Muli";--e-global-typography-6ac0905-font-size:17px;--e-global-typography-6ac0905-font-weight:600;--e-global-typography-9559a7a-font-family:"Mulish";--e-global-typography-9559a7a-font-size:1em;--e-global-typography-9559a7a-font-weight:900;--e-global-typography-3006287-font-family:"Space Grotesk";--e-global-typography-3006287-font-size:3em;--e-global-typography-3006287-font-weight:700;--e-global-typography-3006287-line-height:1.2em;--e-global-typography-1f16a96-font-family:"Space Grotesk";--e-global-typography-1f16a96-font-size:2em;--e-global-typography-1f16a96-font-weight:700;--e-global-typography-1f16a96-line-height:1.3em;--e-global-typography-2a82ac3-font-family:"Space Grotesk";--e-global-typography-2a82ac3-font-size:2em;--e-global-typography-2a82ac3-font-weight:400;--e-global-typography-2a82ac3-line-height:1.6em;--e-global-typography-2ac6296-font-family:"Inter";--e-global-typography-2ac6296-font-weight:400;--e-global-typography-2ac6296-line-height:1.7em;--e-global-typography-a585214-font-family:"Space Grotesk";--e-global-typography-a585214-font-size:1.1em;--e-global-typography-a585214-font-weight:700;--e-global-typography-a585214-line-height:1.3em;--e-global-typography-445dfa5-font-family:"instrument-serif";--e-global-typography-445dfa5-font-size:2.6em;--e-global-typography-445dfa5-font-weight:400;--e-global-typography-445dfa5-line-height:1.5em;--e-global-typography-a87b4d7-font-family:"Space Grotesk";--e-global-typography-a87b4d7-font-size:0.9em;--e-global-typography-a87b4d7-font-weight:700;--e-global-typography-a87b4d7-line-height:1.3em;color:var( --e-global-color-1a9f0f8 );font-family:var( --e-global-typography-2ac6296-font-family ), Sans-serif;font-weight:var( --e-global-typography-2ac6296-font-weight );line-height:var( --e-global-typography-2ac6296-line-height );}.elementor-kit-25791 e-page-transition{background-color:#FFBC7D;}.elementor-kit-25791 p{margin-bottom:30px;}.elementor-kit-25791 a{color:var( --e-global-color-80135eb );}.elementor-kit-25791 h1{color:var( --e-global-color-101bdfd );font-family:var( --e-global-typography-3006287-font-family ), Sans-serif;font-size:var( --e-global-typography-3006287-font-size );font-weight:var( --e-global-typography-3006287-font-weight );line-height:var( --e-global-typography-3006287-line-height );}.elementor-kit-25791 h2{color:var( --e-global-color-101bdfd );font-family:var( --e-global-typography-1f16a96-font-family ), Sans-serif;font-size:var( --e-global-typography-1f16a96-font-size );font-weight:var( --e-global-typography-1f16a96-font-weight );line-height:var( --e-global-typography-1f16a96-line-height );}.elementor-kit-25791 h3{color:var( --e-global-color-101bdfd );font-family:"Space Grotesk", Sans-serif;font-size:1.4em;font-weight:700;line-height:1.3em;}.elementor-kit-25791 h4{color:var( --e-global-color-101bdfd );font-family:"Space Grotesk", Sans-serif;font-size:1.5em;font-weight:700;line-height:1.3em;}.elementor-kit-25791 h5{color:var( --e-global-color-101bdfd );}.elementor-kit-25791 h6{color:var( --e-global-color-101bdfd );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-kit-25791{--e-global-typography-2a82ac3-font-size:1.8em;--e-global-typography-445dfa5-font-size:2em;line-height:var( --e-global-typography-2ac6296-line-height );}.elementor-kit-25791 h1{font-size:var( --e-global-typography-3006287-font-size );line-height:var( --e-global-typography-3006287-line-height );}.elementor-kit-25791 h2{font-size:var( --e-global-typography-1f16a96-font-size );line-height:var( --e-global-typography-1f16a96-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-25791{--e-global-typography-3006287-font-size:2em;line-height:var( --e-global-typography-2ac6296-line-height );}.elementor-kit-25791 h1{font-size:var( --e-global-typography-3006287-font-size );line-height:var( --e-global-typography-3006287-line-height );}.elementor-kit-25791 h2{font-size:var( --e-global-typography-1f16a96-font-size );line-height:var( --e-global-typography-1f16a96-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */.contain-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


/* Then style the iframe to fit in the container div with full height and width */
.frame-contained {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.elementor-widget-tk_custom_toc {
    margin-top: -1.5rem;
}

.elementor-widget-tk_custom_toc > .elementor-widget-container > .elementor-toc__body {
    padding: 0;
}

#lightlink a{
    color: #0A323C;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #007BC2;
}
#lightlink a:hover{
    color: #0A323C;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
  background:#E1F4F8;
}

#lightlink a.alt-link{
    color: #ffffff;
}
#lightlink a.alt-link:hover {
    color: #F0FFFE;
}

#darklink a{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #72cbdb;
}
#darklink a:hover{
    color: #ffffff;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
  background:#17505b;
}

#darklink a.alt-link{
    color: #ffffff;
}
#darklink a.alt-link:hover {
    color: #17505b ;
}
.elementor-widget-tk_custom_toc > .elementor-widget-container > .elementor-toc__body {
    padding: 0;
    margin-top: 25px;
}
#ctalink a{
    color: #ffffff;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-decoration-color: #007BC2;
}
#ctalink a:hover{
    color: #ffffff;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
  background:#9B2233;
}
[class*="paged"] #toppost{display: none;}

ul.elementor-nav-menu--dropdown a, ul.elementor-nav-menu--dropdown a:focus, ul.elementor-nav-menu--dropdown a:hover {
    text-shadow: none;
    border-inline-start: 0px solid transparent !important;
}

ul, ol {
    margin-bottom: 30px;
}/* End custom CSS */